lesson1/.env
lesson1/.venv/
lesson1/_pycache_/
lesson1/.idea/

lesson1_homework/.env
lesson1_homework/.venv/
lesson1_homework/_pycache_/
lesson1_homework/.idea/
lesson1_homework/*.log

lesson2/.env
lesson2/.venv/
lesson2/_pycache_/
lesson2/.idea/
lesson2/*.log

lesson2_homework/.env
lesson2_homework/.venv/
lesson2_homework/_pycache_/
lesson2_homework/.idea/
lesson2_homework/*.log

lesson3/.env
lesson3/.venv/
lesson3/_pycache_/
lesson3/.idea/
lesson3/*.log

lesson3_homework/.env
lesson3_homework/.venv/
lesson3_homework/_pycache_/
lesson3_homework/.idea/
lesson3_homework/*.log
lesson3_homework/bot.db
lesson3_homework/bot.dbbot.db

lesson4/.env
lesson4/.venv/
lesson4/_pycache_/
lesson4/.idea/
lesson4/*.log
lesson4/bot.db
lesson4/bot.dbbot.db

lesson4_homework/.env
lesson4_homework/.venv/
lesson4_homework/_pycache_/
lesson4_homework/.idea/
lesson4_homework/*.log
lesson4_homework/bot.db
lesson4_homework/bot.dbbot.db
